*{
	margin: 0px;
	padding: 0px;
}
.header{padding: 30px;}
.header>h1>a{
	text-decoration: none;
	color: gray;
	font-size: 70px;
}
body{
	margin: 0px;
	padding: 0px;
	background: url(back.png);
	background-size: cover;
}

.login-box{
	width: 600px;
	height: 400px;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: black;
	background-color: white;
	
}
.login-box>h1{
	float: left;
	font-size: 40px;
	
	
}
