*{
	margin: 0px;
	padding: 0px;
}

.header{padding: 30px;}
.header>h1>a{
	
	text-decoration: none;
	color: gray;
	font-size: 70px;
}
body{	margin: 0px;
	padding: 0px;
	background: url(img/skyscraper.jpg);
	background-size: cover;
}

.login-box{	
	text-align: left;
	width: 400px;
	height: 400px;
	position: absolute;
	top: 57%;
	left: 27%;
	transform: translate(-50%,-50%);
	color: green;
	
}
.login-box>h1{
	
	font-size:30px;

	padding: 0 90px;
}
.login-box>h4{
	color: gray;
	float: left;
	font-size: 17px;
	border-bottom:6px solid green;
	margin-bottom: 50px;
	padding: 13px 0	
}
.box{
	text-align: left;
	font-size:2px;
	
}
.textbox{
	width: 100%;
	overflow: hidden;
	color: gray;
	font-size: 15px;
	padding: 8px 80;
	margin: 8px 0;
}

.password{
	width: 100%;
	overflow: hidden;
	color: gray;
	font-size: 15px;
	padding: 8px 0;
	margin: 8px 0;
}
.btn {  color: white;
	font-size: 20px;
	background-color: green;
	position: center;
	padding: 0 80px;
}
.text{
	color: gray;
	font-size: 15px;
}
.vl{
	left: 50%;
	border-left: 4px;
	position: absolute;
}
.signup-box{
	left:60%;
	top: 22%;
	position: absolute;
	color: green;
	
}


.email{
	width: 100%;
	overflow: hidden;
	color: gray;
	font-size: 15px;
	padding: 8px 80;
	margin: 8px 0;
}
.signup-box>h1{
	text-align: center;
}

	














